h1{
  font-size: 42px; 
    color: darkmagenta;

    }

    body {
          background: linear-gradient(to bottom, #00f7ff, #001aff);
          
                }
p{
    font-size: 28px; 
 }
 #iy{
  font-size: 28px; 
 }
    
       
    
    